# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac
.DS_Store

# tmp text files
__tmp__*.txt

# IGNORE everything under these directories
**/binary
**/build
**/buildscripts
**/.vscode
**/source.tmp.cleaned-up

# INCLUDE everything under these directories -- list this at the very bottom
!dependencies/*

/cmake-build-debug/
#/.idea/

#EOF
